<!DOCTYPE html>
<html>
<head>
	<title>Article Summary Fetcher</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="container mt-5">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h1 class="text-center">Article Summary Fetcher</h1>
				{% if error %}
					<div class="alert alert-danger">{{ error }}</div>
				{% endif %}
				<form action="/" method="POST">
					<div class="form-group">
						<label for="url">Enter the URL of the article:</label>
						<input type="text" class="form-control" id="url" name="url" required>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-secondary">Clear</button>
				</form>
			</div>
		</div>
	</div>

</body>
</html>
